.homepage{
	 background-image: url("./img/home.jpg");
	 height: 100%;
	 width:100%;
}

.bg{
	background-position: center;	
	background-image: url("./blue.jpg");	
	height:100%;
	width:100%										

}					

#child{

	position: absolute;
}
											
@font-face{
	font-family: spacefont;
	src: url(Paladins-nl8P.otf);	
}
#grid{
	font-family:spacefont;
	text-align:center;

}

.card-columns{
	padding-top:600px;
	margin:auto;
	position:absolute;
	top: 0; left: 0; bottom:0; right:0;

}

.heading{
	font-family: spacefont;
	padding-top:200px;
	position:absolute;
	color:white;
}